
// background variables to be reused...

$background-color: #e8eaed;
$masthead_bkgrnd_color: #efbdec;
$pricing_bkgrnd_color: white;
$hero_bkgrnd_color: #efbdec;
$footer_bkgrnd_color: #021d49;

$background-image: linear-gradient(to bottom left, #973999, #f8598b, #f7bf00);

// Import Fonts...
//@import url('https://fonts.googleapis.com/css?family=Bangers');

// Import Partials...
@import "fs_free_globals";
